{% extends "base.html" %}

{% block content_title %}
    Описание товара
{% endblock %}

{% block content %}
    <div class="row">
        <h3>{{ product.name }}</h3>
    </div>
    {% if images %}
        {% for image in images %}
            <img src="{{ image.image.url }}" alt="{{ image.product.name }}" width="300px" height="300px"/>
        {% endfor %}
    {% else %}
        <p class="py-5">Нет изображений</p>
    {% endif %}

    <p>Категория: {{ product.category.name }}</p>

    <p class="fs-5">Стоимость: {{ product.price }}$</p>

    <p class="fs-5">Описание:</p>
    <p>{{ product.description }}</p>

{% endblock %}